*{
    -fx-my-menu-color: #FFFFFF;
    -fx-my-menu-color-highlighted: #E0EFFA;
    -fx-my-menu-font-color: #000000;
    -fx-color-500: #F5F7F8;
    -fx-font-family: Lato;
    -fx-font-size: 14;
}

.main-root {
    -fx-background-image: url("back1.png");
    -fx-background-size: cover;
}

/* Styling for the central grid */
.grid {
    -fx-background-color: -fx-color-500;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-hgap: 15px;
    -fx-vgap: 15px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.4, 0, 0);
    -fx-alignment: center;
}

/* Styling for left panel's individual boxes */
.box {
    -fx-background-color: -fx-color-500;
    -fx-background-radius: 0 5 5 0;
    -fx-border-radius: 0 5 5 0;
    -fx-max-height: 200px;
    -fx-min-height: 160px;
    -fx-max-width: 180px;
    -fx-min-width: 180px;
    -fx-alignment: center;
    -fx-padding: 5px;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.4, 0, 0);
}

.bottomBox {
    -fx-background-color: -fx-color-500;
    -fx-max-height: 90px;
    -fx-pref-height: 90px;
    -fx-min-height: 90px;
    -fx-alignment: center-left;
    -fx-padding: 5px;
}

/* Styling for each button */
.button {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: #75A2D5;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-color: #75A2D5;
}

.button:hover {
    -fx-background-color: #3C7DC8;
    -fx-text-fill: white;
    -fx-border-color: #3C7DC8;
}

/* Styling for the menubar, menu items, content menu */
.menu-bar {
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-background-color: -fx-color-500;
    -fx-alignment: center-left;
}

.menu-bar .context-menu {
    -fx-background-color: -fx-color-500;
}

.menu-bar > .container > .menu-button > .label,
.menu-item .label{
    -fx-font: 15 Lato;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing,
.menu-item:hover,
.menu-item:focused,
.menu-item:showing {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

/* Styling for textfields */
.text-field {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-max-width: 150;
}

.text-field:focused {
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}

/* Styling for TableView */
.table-column {
    -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-cell-size: 30px;
}

/* Styling of charts */
.chart-title {
  -fx-font-weight: bold;
  -fx-font-size: 15px;
}

/* Styling for buttons box */
.buttonsBox {
  -fx-background-color: transparent;
  -fx-spacing: 15px;
  -fx-alignment: CENTER-RIGHT;
}

/* Styling for side panels */
.sidePanels {
    -fx-alignment: center;
    -fx-background-color: transparent;
}

/* Tooltip styling */
.tooltip {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-show-duration: 180s;
}

/* TableView styling*/
.legendBox {
    -fx-background-color: #E0EFFA;
    -fx-padding: 5px;
    -fx-spacing: 8px;
    -fx-max-width: 600px;
    -fx-alignment: center;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.choice-box {
    -fx-pref-width: 150px;
}

.choice-box .context-menu {
    -fx-pref-width: 150px;
}

.customChoiceBox1 {
    -fx-pref-width: 90px;
}

.customChoiceBox1 .context-menu {
    -fx-pref-width: 90px;
}

.customChoiceBox2 {
    -fx-pref-width: 120px;
}

.customChoiceBox2 .context-menu {
    -fx-pref-width: 120px;
}